*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
    background-color: aquamarine;
}
#t1{
    position: absolute;
    font-size: 60px;
    top: 10px;
    left: 200px;
    color: #fff;
}
#im1{
    position: absolute;
    right:0px;
}
#t2{
    position: absolute;
    top: 200px;
    left: 300px;
}
div label{
    font-size: 30px;
}
#a1{
    color: black;
    text-align: center;
    background-color: yellow;
    border: thin solid;
    border-radius: 20px;
    display: block;
    width: 100px;
    height: 40px;

}
#cont{
    margin-top: 100px;
}
